doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900' rel='stylesheet')
    title Yusuf CV
    // Additional CSS Files
    link(rel='stylesheet' type='text/css' href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='stylesheets/fullpage.min.css')
    link(rel='stylesheet' type='text/css' href='stylesheets/owl.carousel.css')
    link(rel='stylesheet' href='stylesheets/animate.css')
    link(rel='stylesheet' href='stylesheets/templatemo-style.css')
    link(rel='stylesheet' href='stylesheets/responsive.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')

  body
    block content
